{% extends 'base.html' %}

{% block title %}
  SET-PASSWORD
{% endblock %}

{% block content %}
<main class="form-auth form-signin w-100 m-auto" style="max-width: 300px; text-align: center">
  <form>
    <div class="h3 mb-3 fw-normal text-nowrap">Set new password</div>

    <div class="form-floating" style="margin-bottom: 4px">
      <input type="text" class="form-control" id="new-password" placeholder="password" name="new-password">
      <label for="new-password">New password</label>
    </div>

    <div class="form-floating" style="margin-bottom: 4px">
      <input type="password" class="form-control" id="conf-new-password" placeholder="Confirm new password" name="conf-new-password">
      <label for="conf-new-password">Confirm new password</label>
    </div>

    <button class="w-100 btn btn-lg btn-outline-dark" type="submit">Confirm</button>
  </form>
</main>
{% endblock %}